<app-navbar></app-navbar>
<!--<app-pessoa-cadastro></app-pessoa-cadastro>-->
<app-lancamento-cadastro></app-lancamento-cadastro>
<!--<app-pessoas-pesquisa></app-pessoas-pesquisa>-->
<!--<app-lancamentos-pesquisa></app-lancamentos-pesquisa>-->
<p-toast position="top-right"></p-toast>
<p-confirmDialog header="Confirmação" icon="pi pi-question-circle" #confirmacao>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim"
      (click)="confirmacao.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não"
      (click)="confirmacao.reject()"></button>
  </p-footer>
</p-confirmDialog>

<!--
<div class="container">

  {{ cliente | json }} <br> 
  {{ usuarioForm.valid }}

  <div *ngIf="usuarioForm.invalid && usuarioForm.dirty" class="alert alert-danger">
    Preencha todos os campos corretamente.
  </div>

  <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)" autocomplete="off">
    <div class="form-group" [class.has-danger]="nome.invalid && nome.touched">
      <label class="form-control-label">Nome</label>
      <input type="text" class="form-control" name="primeiroNome" [(ngModel)]="cliente.nome"
        required="true" minlength="10" #nome="ngModel">
      
        <div *ngIf="nome.hasError('required') && nome.touched"
            class="form-control-feedback">Informe um nome válido</div>
        <div *ngIf="nome.hasError('minlength') && nome.touched">O nome deve ser completo</div>
    </div>

    <div class="form-group" [class.has-danger]="email.invalid && email.touched">
      <label class="form-control-label">E-mail</label>
      <input type="text" class="form-control" name="emailForm" [(ngModel)]="cliente.email"
        required="true" email #email="ngModel">
      
      <div *ngIf="email.invalid && email.touched" class="form-control-feedback">Informe um e-mail válido</div>      
    </div>

    <div class="form-group" [class.has-danger]="profissao.invalid && profissao.touched">
      <label class="form-control-label">Profissão</label>
      <select class="form-control" name="profissaoForm" [(ngModel)]="cliente.profissao" required="true" #profissao="ngModel">
        <option value="">Selecione</option>
        <option *ngFor="let profissao of profissoes" [value]="profissao">{{ profissao }}</option>
      </select>

      <div *ngIf="profissao.invalid && profissao.touched" class="form-control-feedback">Informe uma profissão válida</div>      
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.valid">Salvar</button>
  </form>

</div>
-->